
DATABASE_URL="mysql:-/USUARIO:SENHA@edumysql.acesso.rj.senac.br:3306/NOME_DO_BANCO"

# Mínimo de 32 caracteres. Gere o seu com:
# node -e "console.log(require('crypto').randomBytes(48).toString('base64url'))"
JWT_SECRET= 
JWT_EXPIRES_IN=1h
PORT=3000